<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="creature-background">
      {%- include header.html -%}
      {%- if page.layout == home -%}
        {%- include home-header.html -%}
      {%- endif -%}
      
      <main class="page-content" aria-label="Content">
        <div class="header-wrapper">
          {{ content }}
        </div>
      </main>

      {%- include footer.html -%}
    </div>
  </body>

</html>